body{
    margin:0;
    padding:0;
}
:root{
    /* Primary*/
    --colorpink: hsl(322, 100%, 66%);
    --colorpinklight: hsl(321, 100%, 78%);
    --colorredlight:hsl(0, 100%, 63%); 
    /* Neutral */
    --colordarkcyan:hsl(192, 100%, 9%);
    --colorpaleblue: hsl(207, 100%, 98%); 
}
*{
    margin:0;
    padding:0;
}
.attribution { font-size: 15px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    height:60px;
    box-sizing:border-box;
}
nav img{
    margin-left:20px;
    height:20px;
    margin-top:15px;
}
nav button{
    margin-right:20px;
    margin-top:13px;
    margin-bottom:13px;
    padding-left:20px;
    padding-right:20px;
    background-color:white;
    color:pink;
    border:1.5px solid var(--colorpink);
    border-radius:15px;
    box-shadow:1px 1px 2px var(--colorpink),-1px -1px 2px var(--colorpink);
}
header div{
    margin:auto;
    width:80%;
    height:400px;
    text-align:center;
    margin-top:80px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
header div h1{
    font-weight:700;
    color:var(--colordarkcyan);
}
header div h3{
    font-size:13px;
    padding:40px;
    margin-bottom:70px;
    color:var(--colordarkcyan);
}
header div a{
    background-color:var(--colorpink);
    color:white;
    text-decoration:none;
    padding:15px 50px 15px 50px;
    border-radius:20px;
    font-size:13px;
    box-shadow:1px 1px 4px black; 
}
.socialproof{
    background:url(images/bg-section-top-mobile-1.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
    height:850px;
}
.socialproof div:nth-child(1),.socialproof div:nth-child(2){
    width:70%;
    margin:auto;
    height:auto;
}
.socialproof div:nth-child(1) img{
    width:100%;
}
.socialproof div:nth-child(2){
    display:flex;
    margin-top:50px;
    font-family: 'Open Sans', sans-serif;
    flex-direction:column;
    text-align:center;
} 
.socialproof div:nth-child(2) ul,.socialproof div:nth-child(2) ol{
    list-style-type:none;
    box-sizing:border-box;
    padding-bottom:40px;
}
.socialproof div:nth-child(2) li{
    padding-bottom:6px;
}
.socialproof div:nth-child(2) li:nth-child(2){
    font-weight:bolder;
    font-size:45px;
    color:var(--colordarkcyan)}
.container{
    display:grid;
    grid-template-columns:100%;
    grid-auto-rows:minmax(350px,auto);
    text-align:center;
    font-family:'Open Sans', sans-serif;
}
.grid-item2 h2{
   padding-top:80px;
   font-weight:700;
   padding-bottom:20px;
}
.grid-item2 p{
    max-width:70%;
    margin:auto;
}
.grid-item1{
  background-color:var(--colorpaleblue);
}
.grid-item2{
    background-color:var(--colorpaleblue);
}
.grid-item3{
    background:url(images/bg-section-bottom-mobile-1.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:top,bottom;
}
.grid-item4{
    background:url(images/bg-section-top-mobile-2.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
}
.grid-item1 img{
    width:100%;
}
.grid-item3 img{
    width:100%;
    margin-top:150px;
}
.grid-item4 h2{
    padding-top:80px;
    font-weight:700;
    color:var(--colordarkcyan);
    padding-bottom:20px;
}
.grid-item4 p{
    width:70%;
    margin:auto;
}
.grid-item5 img{
    width:100%;
}
.grid-item5{
    background-color:var(--colorpaleblue);
}
.grid-items6{
    background-color:var(--colorpaleblue);
}
.grid-items6 h2{
    padding-top:80px;
    color:var(--colordarkcyan);
    padding-bottom:20px;
    font-weight:700;
}
.grid-items6 p{
    width:70%;
    margin:auto;
}
.communitybuild{
    width:100%;
    height:60vh;
    text-align:center;
    font-family:'Open Sans', sans-serif;
    background:url(images/bg-section-bottom-mobile-2.svg) top,url(images/bg-footer-top-mobile.svg) bottom;
    background-size:contain;
    background-repeat:no-repeat;
}
.communitybuild h2{
    padding-top:150px;
    font-weight:700;
    color:var(--colordarkcyan);
    padding-bottom:15px;
    font-size:1.5em
}
.communitybuild button{
    color:white;
    text-decoration:none;
    background-color:var(--colorpink);
    border-radius:30px;
    padding-left:50px;
    padding-right:50px;
    padding-top:10px;
    padding-bottom:10px;
    outline:none;
    border:none;
    font-size:14px;
}
.footer{
    height:100vh;
    font-family:'Open Sans', sans-serif;
    box-sizing:border-box;
    padding-left:30px;
    padding-right:30px;
    display:grid;
    grid-template-columns:100%;
    grid-auto-rows:minmax(200px,auto);
    grid-template-rows:repeat(2,auto);
    background-color: var(--colordarkcyan);
}
.footer1 h2{
    color:white;
    padding-top:20px;
    padding-bottom:20px;
}
.footer1 p{
    color:white;
    padding-bottom:30px;
    line-height:25px;
}
.footer1 input{
    width:100%;
    height:50px;
    border-radius:10px;
}
.footer1 button{
    float:right;
    clear:both;
    background-color:var(--colorpink);
    color:white;
    width:40%;
    height:50px;
    border-radius:10px;
    margin-top:20px;
    font-size:16px;
}
.footer2 {
 box-sizing:border-box;
 height:auto;
}
.footer2 img[alt="logo"]{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.footer2 p{
    color:white;
    padding-top:30px;
}
.footer2 ol{
    list-style-type:none;
    color:white;
    padding-top:30px;

}
.footer2 ol li{
    padding-bottom:20px;
}
.footer2 ul{
    list-style-type:none;
    display:flex;
    padding-top:20px;
    color:white;
}
.footer2 ul li:nth-child(1){
    margin-left:0px;
}
.footer2 ul li{
    margin-left:30px;
}
/*Desktop------------------------version*/
@media screen and (min-width:900px){
 header div h1{
    font-weight:700;
    font-size:40px;
    padding-top:70px;
 }
 header div h3{
     font-size:17px;
     max-width:60%;
     margin:auto;
 }
 nav img{
     width:250px;
     height:30px;
 }
 header div a{
     font-size:25px;
     
 }
 .socialproof{
    background:url(images/bg-section-top-desktop-1.svg);
    background-repeat:no-repeat;
    background-size:contain;
    background-position:bottom;
    height:150vh;
}
 .socialproof div:nth-child(2){
    display:flex;
    margin-top:50px;
    font-family: 'Open Sans', sans-serif;
    flex-direction:row;
    text-align:center;
    justify-content:space-around;
}
.container{
    display:grid;
    grid-template-columns:50% 50%;
    grid-auto-rows:minmax(250px,auto);
    text-align:center;
    font-family:'Open Sans', sans-serif;
    grid-template-areas:'firsttext image1'
    'image3 fourthtext'
    'sixtext image5';
    box-sizing:border-box;
}
.container div{
    box-sizing:border-box;
    padding:100px;
}
.grid-item1{
    grid-area:image1;
}
.grid-item2{
    grid-area:firsttext;
}
.grid-item2 h2,.grid-item4 h2,.grid-items6 h2{
    font-size:40px;
    margin-top:80px;
    margin-bottom:20px;
    color:var(--colordarkcyan);
}
.grid-item2 p,.grid-item4 p,.grid-items6 p{
    text-align:left;
    font-size:20px;
    color:var(--colordarkcyan);
    }
.grid-item3{
    grid-area:image3;
}
.grid-item4{
    grid-area:fourthtext;
}
.grid-item5{
    grid-area:image5;
}
.grid-item6{
    grid-area:sixtext;
}
.communitybuild h2{
    padding-top:150px;
    margin-bottom:20px;
    font-size:40px;
}
.communitybuild button{
 font-size:25px;
 box-shadow:2px 2px 4px var(--colordarkcyan);
}
.communitybuild{
    width:100%;
    height:80vh;
    text-align:center;
    font-family:'Open Sans', sans-serif;
    background:url(images/bg-section-bottom-desktop-2.svg),url(images/bg-footer-top-desktop.svg);
    background-repeat:no-repeat;
    background-position:top,bottom;
    background-size:contain;
    margin-top:0px;
    border:none;
}
.footer{
    height:70vh;
    background-color:var(--colordarkcyan);
    font-family:'Open Sans', sans-serif;
    box-sizing:border-box;
    padding-left:30px;
    padding-right:30px;
    display:grid;
    grid-template-columns:50% 50%;
    grid-auto-rows:minmax(200px,auto);
    grid-template-rows:repeat(2,auto);
    grid-template-areas:'contact-us newsletter';
}
.footer1{
    grid-area:newsletter;
    font-size:19px;
    box-sizing:border-box;
    margin-right:100px;
}
.footer2{
    grid-area:contact-us;
    font-size:19px;
    margin-left:100px;
    box-sizing:border-box;
}
.footer2 img[alt="logo"]{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
.footer1 input{
    width:62%;
}
.footer1 button{
    width:35%;
    margin-top:0px;
}
.footer2 p{
    color:white;
    padding-top:30px;
    max-width:300px;
}
.container{
   background:url(images/bg-section-bottom-desktop-2.svg);
   background-repeat:no-repeat;
}
.grid-item3{
    background:none;
}
.grid-item4{
    background:none;
}
}