body{
    margin:0;
    padding:0;
    font-size:16px;
}
:root{
    /*primary color */
   /* Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)*/
    --colorleftchat:hsl(276, 55%, 52%);
    --colorrightchat: hsl(271, 15%, 43%);
    --colorplaceholdertext:hsl(206, 6%, 79%);
    --colormainheading:hsl(271, 36%, 24%);
    --colorparagraph:hsl(270, 7%, 64%);
    
    /* gradient */
   /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:*/
    
   --colorgrad1:hsl(293, 100%, 63%);
   --colorgrad2:hsl(264, 100%, 61%);
    
    /*secondary*/
    
    --colorWhite:hsl(0, 0%, 100%);
    --colorappbackground:hsl(270, 20%, 96%);
    --colorsubmitbutton:hsl(271, 36%, 24%);
    --colorbuttonoutline: hsl(289, 100%, 72%);
}
*{
    margin:0;
    padding:0;
}
.container{
    width:90%;
    height:auto;
    background-color:var(--colorWhite);
    margin:auto;
    display:flex;
    flex-direction:column;
}
.phone{
    width:90%;
    height:auto;
    background-color:white;
    margin:auto;
    border-radius:35px;
    box-shadow:2px 2px 5px grey;
    box-sizing:border-box;
    margin-top:60px;
    padding:13px;
    border:none;
}
.phone .users{
    width:100%;
    height:auto;
    background-color:var(--colorappbackground);
    border-radius:35px;
    
}
 .users .profile{
    width:100%;
    height:minmax(110px,auto);
    background-image: linear-gradient(to left,var(--colorgrad1),var(--colorgrad2));
    border-top-left-radius:25px;
    border-top-right-radius:25px;
   
}
.users .profile div:nth-child(1){
    background-color:var(--colorWhite);
    width:50%;
    margin:auto;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    color:white;
    padding:2px;
}
.users .profile div:nth-child(2){
    display:flex;
    box-sizing:border-box;
    padding-left:20px;
    padding-top:20px;
    margin-top:5px;
    
}
.users .profile div:nth-child(2) p{
    color:white;
    font-size:18px;
}
.users .profile div:nth-child(2) p span{
    font-size:12px;
    color:var(--colorappbackground);
}
.users .profile div:nth-child(2) i[class="fas fa-chevron-left"]{
     margin-right:20px;
     align-self:center;
     filter:invert(100%);
     cursor:pointer;
}
.users .profile div:nth-child(2) i[class="fas fa-ellipsis-v"]{
    align-self:center;
    margin-left:110px;
    filter:invert(100%);
    cursor:pointer;
}
.users .profile img{
    border-radius:50%;
    width:30px;
    height:30px;
    border:3px solid white;
    margin-right:20px;
    
}
.users .firsttext,.users .secondtext,.users .fifthtext{
    color:var(--colorleftchat);
    max-width:60%;
    font-size:17px;
    background-color:rgb(221, 218, 218);
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    height:auto;
    padding:6px;
    box-sizing:border-box;
    margin-top:8px;
    margin-left:15px;
}
.users .thirdtext,.users .fourthtext{
    color:var(--colorrightchat);
    max-width:60%;
    font-size:17px;
    background-color:white;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    height:auto;
    padding:6px;
    box-sizing:border-box;
    margin-top:8px;
    border-bottom-left-radius:20px;
    margin-left:38%;
}
.users .sixtext,.users .seventhtext{
    width:70%;
    color:var(--colorleftchat);
    padding:8px;
    height:30px;
    background-image:linear-gradient(to left,var(--colorgrad1),var(--colorgrad2));
    margin-left:15px;
    margin-top:8px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.sixtext span,.seventhtext span{
    color:white;
    padding-left:65%;
    padding-top:30px;
}

.users .images{
    display:flex;
    width:60%;
    margin-top:15px;
    position:relative;
    margin-left:40%;
}
.users input{
    width:85%;
    border-radius:35px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:20px;
    margin-left:15px;
    border:none;
    margin-bottom:10px;
    margin-top:10px;
    background-image:url(images/chevron-circle-right-solid.svg);
    background-repeat:no-repeat;
    background-position:right;
}
 
.images img{
    width:30%;
    height:10%;
    margin-left:2%;
    border-radius:20px;
}
.images img:nth-child(1){
    margin-right:none;
}
.headertext {
    text-align:center;
}
.headertext h1{
    font-size:4em;
    padding-top:3rem;
    padding-bottom:3rem;
    color:var(--colormainheading);
}
.headertext p{
    font-size:1.6rem;
    max-width:75%;
    margin:auto;
}
@media screen and (min-width:700px){
    .container{
        display:flex;
        flex-direction:row;
    }
}